/* styles.css */

.custom-title {
    letter-spacing: 1px;
    font-size: 3.5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #b352c9;
}

/* Autres styles */
.input-custom {
    border-radius: 25px;
    height: 60px; /* Hauteur des champs d'input */
}

.form-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.shadow-custom {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.text-center {
    text-align: center;
}

.w-100 {
    width: 100%;
}

.vh-100 {
    height: 100vh;
}

.rounded {
    border-radius: 0.25rem; 
}

.shadow-lg {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.object-fit-cover {
    object-fit: cover;
}

.object-position-left {
    object-position: left;
}
.input-group {
    width: 100%; 
    justify-content: center;
    margin-top: 20px; 
    margin-bottom: 20px; 


}
.card {
    width: 250px; /* Définir une largeur fixe pour la carte */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3)}


.card-title{
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #b352c9;
    text-align: center;
    font-weight: bold;

}
.card-img-top {
    object-fit: cover; /* Cela permet à l'image de remplir l'espace sans déformer */
    width: 70%;
    padding-left: 20%;
    padding-top: 5%;

}

.containerQUIZ {
    background-color: rgba(247, 243, 243, 0.8); /* Fond légèrement transparent (0.8 pour 80% d'opacité) */
    border-radius: 10px; /* Coins arrondis */
    padding: 30px; /* Espacement interne */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre portée */
    display: flex; /* Utiliser Flexbox pour centrer le contenu */
    flex-direction: column; /* Orientation verticale */
    justify-content: center; /* Centrer verticalement */
    align-items: center; /* Centrer horizontalement */
    min-height: 70vh; /* Hauteur minimale pour centrer verticalement */
    width: 50%; /* Largeur du conteneur */
}


.module-title {
    letter-spacing: 1px;
    font-size: 3.5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #b352c9;
}

.question {
    margin-bottom: 20px;
   
}

.response {
    margin-left: 20px;
    text-align: left; /* Aligner les réponses à gauche */
}

h5 {
    color: #3c3440; /* Couleur du texte des questions */
}
.align-left {
    padding-left: 90%; /* Aligne le texte à gauche */
}
